@import url('https://fonts.googleapis.com/css?family=Poppins:300,700');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  background-color: var(--silver);
}

a {
  color: inherit;
  text-decoration: none;
}
input:focus {
  outline: none !important;
}
button{
  font-family: Poppins;
}
input{
  font-family: Poppins;

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--silver-sublimites);
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--silver-sublimites);
}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--silver-sublimites);
}
:-moz-placeholder { /* Firefox 18- */
  color: var(--silver-sublimites);
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
  }
}

:root {
  --dark-blue: #006fff;
  --lite-blue: #006fff47;
  --turquoise: #36ffc8;
  --dark-yellow: #fce181;
  --silver: #f6f6f6;
  --silver-sublimites:#CBCBCB
}
