@import url('https://fonts.googleapis.com/css?family=Poppins:400,300,700');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--silver);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
  }
}

:root {
  --dark-blue: #006fff;
  --lite-blue: #006fff47;
  --turquoise: #36ffc8;
  --dark-yellow: #fce181;
  --silver: #f6f6f6;
}
